<!doctype html>
<html lang="en">
  {{>head}}
  <body>
    {{>nav}}
    <main class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Kontaktų sąrašas</h5>
                    <table class="table">
                        <tr>
                            <th>Vardas</th>
                            <th>Pavardė</th>
                            <th>Tel.</th>
                            <th>El. paštas</th>
                            <th>Tipas</th>
                        </tr>
                        {{#each contacts}}
                        <tr>
                            <td>{{name}}</td>
                            <td>{{surname}}</td>
                            <td>{{phone}}</td>
                            <td>{{email}}</td>
                            <td>{{type}}</td>
                        </tr>
                        {{~/each}}
                       
                    </table>
                </div>
            </div>
        </div>
    </div>
    </main>
     {{>foot}}   
  </body>
</html>